*
{
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;

}
#homepage {
  background-image: url(../images/backgroundimg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display:flex;
  flex-direction: column;
}

#homepage #header {
  height: 70px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

#logo{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  color: rgb(255, 255, 255);
}
#homepage #header #nav{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

#homepage #header #nav a
{
  color: #fff;
  text-decoration: none;
}

#homepage #header #nav a:hover
{
  color: red;
}

#content
{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 80px;
}
#content #banner{
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#content #banner img{
  max-width: 100%;
}
#content #banner p{
  color: red;
  font-size: 26px;
  text-align: right;
}


.dialogue{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0px;
  color: #fff;
  font-size: 26px;
}

.dialogue.active{
  display:flex;
}

.dialogue #dialoguecontent
{
  width: 30%;
  min-height: 100px;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 20px;
}
.dialogue #dialoguecontent form
{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.dialogue #dialoguecontent h1{
  color: black;
  font-size: medium;
  font-weight: bolder;
}
.dialogue #dialoguecontent input{
  margin-bottom: 20px;
  padding-left: 10px;
  height: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}
.dialogue #dialoguecontent form #action
{
  display: flex;
  margin: 5px;
  gap: 5px;
  justify-content: flex-end;
}

.dialogue #dialoguecontent form button[type="submit"]
{
  height: 30px;
  width: 60px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  color: #fff;
  background-color: blue;
  cursor: pointer;
}

.dialogue #dialoguecontent form button[type="submit"]:hover{
  color: #fff;
  background-color: rgb(56, 56, 253);
}

.dialogue #dialoguecontent form button[disabled][type="submit"]
{
    background-color: rgb(121, 121, 237);
    cursor: not-allowed;
}

.dialogue #dialoguecontent form button.cancelbtn
{
  height: 30px;
  width: 60px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  color: #000000;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.dialogue #dialoguecontent form button.cancelbtn:hover{
    color: black;
  background-color: rgb(213, 213, 215);
}
