#dashboardpage #head {
  height: 68px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7fafc;
}
#dashboardpage #head #logosection {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 240px;
}

#dashboardpage #head #searchbox {
  flex-grow: 1;
  margin-top: 16px;
  position: relative;
}
#dashboardpage #head #searchbox input {
  border: 1px solid #cfcccc;
  width: 60%;
  height: 40px;
  border-radius: 7px 7px 0px 0px;
  outline: none;
  background-color: #f0f3f4;
  padding-left: 40px;
}
#dashboardpage #head #searchbox img {
  position: absolute;
  width: 14px;
  top: -12px;
  left: 11px;
  margin: auto;
  bottom: 0px;
  cursor: pointer;
}
#dashboardpage #head #searchbox img.cross {
  right: -211px;
  width: 20px;
  display: none;
}

#dashboardpage #head #searchbox img.cross.active {
  display: block;
}
#dashboardpage #head #actionsection {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 30px;
}
/* #dashboardpage #head #actionsection #action{
  width: 50%;
  display: flex;
  gap: 30px;
  cursor: pointer;
  
} */
#dashboardpage #head #actionsection #profile {
  flex-grow: 1;
  display: flex;
  cursor: pointer;
}