<div id="logosection">
  <img width="20px" src="../assets/images/icons8-menu.svg" />
  <img width="170px" src="../assets/images/dashboard/logo.png" />
</div>
<div id="searchbox">
  <div id="inputcontainer">
    <img src="../assets/images/dashboard/8666693_search_icon.svg" alt="" />
    <input onkeyup="onSearchchange(event)" type="text" placeholder=" Search" />
    <img
      onclick="removeboxcontent()"
      class="cross"
      src="../assets/images/dashboard/search.svg"
      alt=""
    />
  </div>
  <div class="suggestions ">
    <div class="suggestion">
      <div class="avatar">H</div>
      <div class="name">Haris Zubair</div>
      <div>-</div>
      <div class="email">hariszubair71@gmail.com</div>
    </div>
    <div class="suggestion">
      <div class="avatar">H</div>
      <div class="name">Haris Zubair</div>
      <div>-</div>
      <div class="email">hariszubair71@gmail.com</div>
    </div>
    <div class="suggestion">
      <div class="avatar">H</div>
      <div class="name">Haris Zubair</div>
      <div>-</div>
      <div class="email">hariszubair71@gmail.com</div>
    </div>
    <div class="suggestion">
      <div class="avatar">H</div>
      <div class="name">Haris Zubair</div>
      <div>-</div>
      <div class="email">hariszubair71@gmail.com</div>
    </div>
  </div>
</div>
<div id="actionsection">
  <!-- <div id="action">
            <img width="20px" src="../assets/images/dashboard/216643_help_icon.svg" alt="">
            <img width="25px" src="../assets/images/dashboard/2849830_multimedia_options_setting_settings_gear_icon.svg" alt="">
          </div> -->
  <div id="profile">
    <!-- <img width="20px" src="../assets/images/dashboard/9110893_menu_dots_icon.svg" alt=""> -->
    <img
      width="30px"
      src="../assets/images/dashboard/profile-default-svgrepo-com.svg"
      alt=""
    />
  </div>
</div>
