<div id="contactbutton">
  <button id="createBtn">
    <img
      width="25px"
      src="../assets/images/dashboard/4115237_add_plus_icon.svg"
    />
    Create Contact
  </button>
</div>
<div id="menu">
  <a class="link active" href="#" >
    <i class="fa-light fa-user" aria-hidden="true"></i>
    Contacts
  </a>
  <a class="link"  href="#">
    <i class="fa-light fa-user"></i>
    Other Contacts
  </a>
  <a class="link" href="#">
    <i class="fa-light fa-user"></i>
    Import
  </a>

</div>
