<div id="contactbutton">
  <div id="createBtn">
    <img
      width="25px"
      src="../assets/images/dashboard/4115237_add_plus_icon.svg"
    />
    Create Contact
  </div>
</div>
<div id="menu">
  <div class="link active">
    <a href=""
      ><img src="../../assets/images/dashboard/8666609_user_icon.svg" alt="" />
      Contacts
    </a>
    <div id="counter">500</div>
  </div>
  <div class="link">
    <a href=""
      ><img src="../../assets/images/dashboard/326662_label_icon.svg" alt="" />
      Label
    </a>
  </div>
  <div class="link">
    <a href=""
      ><img src="../../assets/images/dashboard/4115237_add_plus_icon.svg" alt="" />
     Create Label
    </a>
  </div>
</div>
