    <div id="loginDialogue" class="dialogue">
      <div id="dialoguecontent">
        <h1>Login</h1>
        <form action="javascipt:void(0);" onsubmit="window.location('pages/dashboard.html')" onkeyup="formchange()">
          <input type="email" placeholder="Email" required />
          <input type="password" placeholder="Password" required />
          <div id="action">
            <button class="cancelbtn">Cancel</button>
            <button disabled type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>